<div class="grid">
  <header class="col__1_13 row__1_4 blue">
    <textarea><header class="col__1_13 row__1_4 blue"></textarea>
  </header>
  <aside class="col__1_2 row__4_17 fuchsia">
    <textarea><aside class="col__1_2 row__4_17 fuchsia"></aside></textarea>
  </aside>
  <section class="col__2_13 row__4_15 purple">
    <textarea><section class="col__2_13 row__4_15 purple"></section></textarea>
  </section>
  <footer class="col__2_13 row__15_17 blue">
    <textarea><footer class="col__2_13 row__15_17 blue"></footer></textarea>
  </footer>
</div>
