// ----
// Sass (vundefined)
// Compass (vundefined)
// dart-sass (v1.18.0)
// ----
body {
  overflow: hidden;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

$list-columns: 1 2 3 4 5 6 7 8 9 10 11 12;
$list-rows: 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16;

$cols-nr: 12;
$rows-nr: 16;

@each $j in $list-columns {
  @for $i from 1 through 13 {
    .col__#{$j}_#{$i} {
      grid-column: #{$j} / #{$i};
    }
  }
}

@each $j in $list-columns {
  @for $i from 1 through 17 {
    .row__#{$j}_#{$i} {
      grid-row: #{$j} / #{$i};
    }
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat($cols-nr, 1fr);
  grid-template-rows: repeat($rows-nr, 1fr);
  place-items: center;
  width: 100vw;
  height: 100vh;

  >* {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    font-size: 30px;
  }
}

.pink {
  background: pink;
}

.green {
  background: green;
}
.yellow {
  background: yellow;
}